body {
  margin: 0px;
  color: gray;
}

.header {
  background-image: url("https://source.unsplash.com/random");
  padding: 20% 15%;
  color: white;
  margin-bottom: 30%,
}

.main {
  margin: 0% 10%;
}

.container {
  margin: 50px auto;
  max-width: 90%;
}

h2 {
  font-family: Montserrat;
  color: #a0a0b7
}

p {
  color: black;
}

a {
  font-family: 'Lora', serif;
  text-decoration: none;
  background-color: #e9fdf0;
  color: lightgrey;
}

a:hover {
  background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}
